{% extends 'base.html' %}

{% block title %}モデルテスト{% endblock %}
{% block content %}
  <h1>モデルテスト</h1>

<style>
  .readonly-input {
    background-color: #e5e7eb;
    color: #4b5563;
  }

  .readonly-field input {
    background-color: #e5e7eb;
    color: #4b5563;
    pointer-events: none;
  }
</style>

<div>
  <form method="POST">{% csrf_token %}
    {% include "model_test/_readonly_field.html" with field=form.denno readonly=form.denno.field.readonly %}
    {% include "model_test/_readonly_field.html" with field=form.order_date_from readonly=form.order_date_from.field.readonly %}
    {% include "model_test/_readonly_field.html" with field=form.order_date_to readonly=form.order_date_to.field.readonly %}
    {% include "model_test/_readonly_field.html" with field=form.test1 readonly=form.test1.field.readonly %}
    {% include "model_test/_readonly_field.html" with field=form.test2 readonly=form.test2.field.readonly %}

    <button type="submit">送信</button>
  </form>
</div>
{% endblock %}
